.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.flex {
  display: flex;
}

#bkg_top_banner {
  height: 16vh;
  width: 100vw;
  background-color: #00a884;
}

#bkg_main {
  height: 84vh;
  width: 100vw;
  background: linear-gradient(#e7e4de, rgba(209, 215, 219, 255));
}

#mainContainer {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  display: flex;
  width: 97vw;
  height: 97vh;
  background-color: rgb(240, 242, 245);
}


#chatList {
  width: 30%;
  background-color: #ffffff;
}

#topNav {
  box-sizing: border-box;
  height: 8%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  background-color: #f0f2f5;
}

#profilePhoto {
  height: 70%;
}

#profilePhoto img {
  height: 100%;
}

#statusSection {
  height: 100%;

  width: 60%;
  align-items: center;
  justify-content: space-evenly;
}


#communities {
  height: 50%;
}

#status {
  height: 50%;
}

#statusSection img {
  height: 30%;
  display: block;
  margin: auto;
}

#topNav img:hover {
  cursor: pointer;
}


#messages {
  border-left: 1px solid rgb(233, 237, 239);
}


#searchBar {
  height: 6.7%;
  /* border: 1px solid black; */
  align-items: center;
  border-bottom: 1px solid rgb(233, 237, 239);
}

#searchBar div {
  height: 73%;
  width: 87%;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 0 3%;
  align-items: center;
  background-color: rgb(240, 242, 245);
}

#searchBar div img {
  height: 40%;
  margin: 0 4%;
}

#searchBar input {
  background: none;
  border: none;
  color: rgb(59, 74, 84);
  width: 78%;
  margin-left: 2%;
  outline: none;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
}

#searchBar input::placeholder {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
  font-size: larger;
}

#searchBar>img {
  height: 22%;
}

#searchBar img:hover{
  cursor: pointer;
}