.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.fFamily1 {
  --font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
}


.w50 {
  width: 50%;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.flex {
  display: flex;
}

.flexVCenter {
  display: flex;
  align-items: center;
}

.flexHCenter {
  display: flex;
  justify-content: center;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

#bkg_top_banner {
  height: 16vh;
  width: 100vw;
  background-color: #00a884;
}

#bkg_main {
  height: 84vh;
  width: 100vw;
  background: linear-gradient(#e7e4de, rgba(209, 215, 219, 255));
}

#mainContainer {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#main {
  width: 97vw;
  height: 97vh;
  background-color: rgb(240, 242, 245);
}

#chatList {
  width: 30%;
  background-color: #ffffff;
}

#chatList img {
  cursor: pointer;
}

#topNav {
  box-sizing: border-box;
  height: 8%;
  justify-content: space-between;
  padding: 0 3%;
  background-color: #f0f2f5;
}

#profilePhoto {
  height: 70%;
}

#statusSection {
  width: 60%;
  justify-content: space-evenly;
}


#communities {
  height: 50%;
}

#status {
  height: 50%;
}

#statusSection img {
  height: 30%;
  display: block;
  margin: auto;
}

#searchBar {
  height: 6.7%;
  border-bottom: 1px solid rgb(233, 237, 239);
}

#searchBar div {
  height: 73%;
  width: 87%;
  border-radius: 10px;
  margin: 0 3%;
  background-color: rgb(240, 242, 245);
}

#searchBar div img {
  height: 40%;
  margin: 0 4%;
}

#searchBar input {
  background: none;
  border: none;
  color: rgb(59, 74, 84);
  width: 78%;
  margin-left: 2%;
  outline: none;
}

#searchBar input::placeholder {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
  font-size: larger;
}

#searchBar>img {
  height: 22%;
}


#archived {
  height: 6%;
}

#archived>div {
  width: 17%;
}

#archived>div img {
  height: 35%;
}

#archived>div+div {
  width: 81.5%;
  font-size: 17px;
  justify-content: left;
  border-bottom: 1px solid rgb(233, 237, 239);
}

#chats {
  height: 79.3%;
  overflow-y: scroll;
}


#messageSecWall {
  border-left: 1px solid rgb(233, 237, 239);
  width: 70%;
  flex-direction: column;
}

#messageSecWall>div {
  height: fit-content;
  flex-direction: column;
  margin: auto 0;
}

#messageSecWall>div>img {
  width: 31%;
}

#messageSecWall>div>h1 {
  font-size: 36px;
  font-weight: 300;
  margin: 0;
  margin-top: 24px;
  color: rgb(65, 82, 93);
}

#messageSecWall>div>p {
  color: rgb(102, 119, 129);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

#getAppBtn {
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 8px;
  border-radius: 24px;

  color: white;
  padding: 15px 25px;
  background-color: rgb(0, 128, 105);
  margin-top: 1.5%;
}

#getAppBtn:hover {
  background-color: rgba(1, 117, 97, 255);

  transition-duration: 0.18s;
  transition-property: all;
  transition-timing-function: ease-out
}

#messageSecWall>div+div {
  flex-direction: row;
  height: 3%;
  position: relative;
  bottom: 5px;
  left: 0%;
  margin: 0 auto;
  margin-bottom: 4%;
  font-size: 14px;
  color: rgb(134, 150, 160);
}

#messageSecWall>div+div img {
  width: auto;
  height: 45%;
  margin-right: 5px;
  align-self: center;
}

#profileImg {
  width: 15%;
}